{
  "openapi": "3.1.0",
  "info": {
    "title": "Domain Intelligence API",
    "description": "Aggregate domain reconnaissance in a single API call — DNS, WHOIS/RDAP, SSL/TLS, subdomain enumeration via Certificate Transparency logs, and email security posture (SPF, DMARC, DKIM via common-selector probing). Sub-second on cache hits, no LLMs in the request path. Built for security teams, threat-intel enrichment, and domain monitoring SaaS.",
    "version": "0.2.0",
    "x-rapidapi-category": "Data",
    "contact": {
      "name": "Domain Intel API Support"
    }
  },
  "servers": [
    {
      "url": "https://oti-labs.com",
      "description": "Production"
    }
  ],
  "tags": [
    { "name": "Aggregate", "description": "All-in-one domain intelligence" },
    { "name": "DNS", "description": "DNS record lookups" },
    { "name": "SSL", "description": "TLS/SSL certificate inspection" },
    { "name": "WHOIS", "description": "Domain registration data (RDAP + port-43 fallback)" },
    { "name": "Subdomains", "description": "Subdomain discovery via Certificate Transparency logs with DNS bruteforce fallback" },
    { "name": "Email Security", "description": "SPF, DMARC, and DKIM (auto-discovered via ~29 common selectors)" },
    { "name": "Demo", "description": "Public rate-limited demo endpoint" },
    { "name": "Utility", "description": "Service utilities" }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Returns service status. No authentication required.",
        "operationId": "health_health_get",
        "tags": ["Utility"],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          }
        }
      }
    },
    "/lookup/{domain}": {
      "get": {
        "summary": "Full Domain Intelligence Lookup",
        "description": "Aggregate endpoint: returns DNS, SSL, WHOIS, subdomains, and email security in one parallel call. Most popular endpoint.",
        "operationId": "lookup_lookup__domain__get",
        "tags": ["Aggregate"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/dns": {
      "get": {
        "summary": "DNS Records",
        "description": "Returns A, AAAA, MX, TXT, NS, CNAME, and SOA records for the given domain.",
        "operationId": "dns_only_domain__domain__dns_get",
        "tags": ["DNS"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/ssl": {
      "get": {
        "summary": "SSL/TLS Certificate Details",
        "description": "Performs a live TLS handshake against the host and returns issuer, subject, validity window, SAN list, and key strength. No third-party scanner.",
        "operationId": "ssl_only_domain__domain__ssl_get",
        "tags": ["SSL"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/whois": {
      "get": {
        "summary": "WHOIS / RDAP Registration Data",
        "description": "Registration data via the RDAP protocol (rdap.org, then IANA bootstrap), with a port-43 WHOIS fallback if RDAP is unavailable. Response includes a _source field indicating which method returned the data.",
        "operationId": "whois_only_domain__domain__whois_get",
        "tags": ["WHOIS"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/subdomains": {
      "get": {
        "summary": "Subdomain Enumeration",
        "description": "Enumerates subdomains by querying Certificate Transparency log sources (crt.sh, certspotter, hackertarget) concurrently, with a DNS bruteforce wordlist fallback if all CT sources fail. Whatever succeeded is returned, with a warnings[] field naming what didn't.",
        "operationId": "subs_only_domain__domain__subdomains_get",
        "tags": ["Subdomains"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/email-security": {
      "get": {
        "summary": "Email Security Posture",
        "description": "Returns SPF, DMARC, and DKIM posture (presence + records). DKIM keys are auto-discovered by probing ~29 common selectors used by major mail providers (Google Workspace, Microsoft 365, Mailchimp, SendGrid, Postmark, Mandrill, etc.) plus generic catchalls. Custom or hash-based selectors (e.g. Amazon SES) aren't auto-discoverable.",
        "operationId": "email_only_domain__domain__email_security_get",
        "tags": ["Email Security"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/demo/{domain}": {
      "get": {
        "summary": "Public Demo Lookup",
        "description": "Public demo of the aggregate endpoint. Rate-limited to 5 requests per IP per day. No authentication required.",
        "operationId": "demo_lookup_demo__domain__get",
        "tags": ["Demo"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": { "items": { "$ref": "#/components/schemas/ValidationError" }, "type": "array", "title": "Detail" }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": { "items": { "anyOf": [ { "type": "string" }, { "type": "integer" } ] }, "type": "array", "title": "Location" },
          "msg": { "type": "string", "title": "Message" },
          "type": { "type": "string", "title": "Error Type" }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      }
    }
  }
}
