{
  "openapi": "3.1.0",
  "info": {
    "title": "Domain Intelligence API",
    "description": "Aggregate domain reconnaissance in a single API call — DNS, WHOIS/RDAP, SSL/TLS, subdomain enumeration via Certificate Transparency logs + passive DNS + always-on DNS bruteforce, and email security posture (SPF, DMARC, DKIM via common-selector probing). Sub-second on cache hits, no LLMs in the request path. Built for security teams, threat-intel enrichment, and domain monitoring SaaS.",
    "version": "0.6.0",
    "x-rapidapi-category": "Cybersecurity",
    "contact": {
      "name": "Domain Intel API Support"
    }
  },
  "servers": [
    {
      "url": "https://oti-labs.com",
      "description": "Production"
    }
  ],
  "tags": [
    { "name": "Aggregate", "description": "All-in-one domain intelligence" },
    { "name": "DNS", "description": "DNS record lookups (A, AAAA, MX, TXT, NS, CAA, SOA)" },
    { "name": "SSL", "description": "TLS/SSL certificate inspection via live handshake" },
    { "name": "WHOIS", "description": "Domain registration data via 4-tier fallback chain (rdap.org -> IANA bootstrap -> 22 hardcoded RDAP servers -> port-43 socket WHOIS for 50+ TLDs)" },
    { "name": "Subdomains", "description": "Subdomain discovery via 5 parallel sources (crt.sh, certspotter, hackertarget, AlienVault OTX, VirusTotal) plus always-on DNS bruteforce" },
    { "name": "Email Security", "description": "SPF, DMARC, and DKIM (auto-discovered via ~29 common selectors)" },
    { "name": "Demo", "description": "Public rate-limited demo endpoint" },
    { "name": "Utility", "description": "Service utilities" }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Returns service status. No authentication required.",
        "operationId": "health_health_get",
        "tags": ["Utility"],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          }
        }
      }
    },
    "/lookup/{domain}": {
      "get": {
        "summary": "Full Domain Intelligence Lookup",
        "description": "Aggregate endpoint: returns DNS, SSL, WHOIS, subdomains, and email security in one parallel call. Most popular endpoint. Sub-lookups run concurrently via asyncio.gather; total wall time bounded by the slowest source (~1-5s uncached, ~50ms cached).",
        "operationId": "lookup_lookup__domain__get",
        "tags": ["Aggregate"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/dns": {
      "get": {
        "summary": "DNS Records",
        "description": "Returns A, AAAA, MX, TXT, NS, CAA, and SOA records for the given domain. All record types resolved in parallel via the standard async resolver; per-record timeout ~5s.",
        "operationId": "dns_only_domain__domain__dns_get",
        "tags": ["DNS"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/ssl": {
      "get": {
        "summary": "SSL/TLS Certificate Details",
        "description": "Performs a live TLS handshake against the host (5s socket timeout) and returns issuer, subject, validity window, SAN list, days-until-expiry, signature algorithm, and key info. No third-party scanner.",
        "operationId": "ssl_only_domain__domain__ssl_get",
        "tags": ["SSL"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/whois": {
      "get": {
        "summary": "WHOIS / RDAP Registration Data",
        "description": "Registration data via a 4-tier fallback chain: (1) rdap.org universal redirect, (2) IANA RDAP bootstrap -> authoritative TLD-specific RDAP server, (3) hardcoded RDAP base URLs for 22 common TLDs, (4) port-43 socket WHOIS with 50+ TLD-specific servers (all gTLDs plus 35+ ccTLDs incl. .fr, .nl, .au, .ca, .jp, .ru, .cn, .br, .es, .it, .ch, .at, .pl, .se, .no, .fi, .dk, .be, .ie, .nz, .za, .in, .kr, .sg, and more), with IANA referral lookup for any TLD not pre-mapped. Response includes a _source field indicating which tier succeeded (e.g. 'rdap.org', 'iana-bootstrap:...', 'fallback:...', 'port43:whois.verisign-grs.com').",
        "operationId": "whois_only_domain__domain__whois_get",
        "tags": ["WHOIS"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/subdomains": {
      "get": {
        "summary": "Subdomain Enumeration",
        "description": "Enumerates subdomains via 5 parallel upstream sources (crt.sh, certspotter, hackertarget, AlienVault OTX, VirusTotal v3) PLUS an always-on DNS bruteforce against a curated 686-word wordlist via public resolvers (1.1.1.1, 8.8.8.8, 9.9.9.9). The bruteforce runs every time alongside upstream sources — not just as fallback — so the response is never empty regardless of upstream status. Results are merged, deduplicated, and sorted. The sources_used array reports per-source status. The warnings field is coverage-aware: only populated when total found drops below 20 subdomains. Up to 1,000 results returned per request.",
        "operationId": "subs_only_domain__domain__subdomains_get",
        "tags": ["Subdomains"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/domain/{domain}/email-security": {
      "get": {
        "summary": "Email Security Posture",
        "description": "Returns SPF, DMARC, and DKIM posture (presence + records). DKIM keys are auto-discovered by probing ~29 common selectors used by major mail providers (Google Workspace, Microsoft 365, Mailchimp, SendGrid, Postmark, Mandrill, Klaviyo, Mailgun, etc.) plus generic catchalls. Custom or hash-based selectors (e.g. Amazon SES) aren't auto-discoverable.",
        "operationId": "email_only_domain__domain__email_security_get",
        "tags": ["Email Security"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    },
    "/demo/{domain}": {
      "get": {
        "summary": "Public Demo Lookup",
        "description": "Public demo of the aggregate endpoint. Rate-limited to 5 requests per IP per day. No authentication required.",
        "operationId": "demo_lookup_demo__domain__get",
        "tags": ["Demo"],
        "parameters": [
          { "name": "domain", "in": "path", "required": true, "schema": { "type": "string", "title": "Domain" } }
        ],
        "responses": {
          "200": { "description": "Successful Response", "content": { "application/json": { "schema": {} } } },
          "422": { "description": "Validation Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HTTPValidationError" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": { "items": { "$ref": "#/components/schemas/ValidationError" }, "type": "array", "title": "Detail" }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": { "items": { "anyOf": [ { "type": "string" }, { "type": "integer" } ] }, "type": "array", "title": "Location" },
          "msg": { "type": "string", "title": "Message" },
          "type": { "type": "string", "title": "Error Type" }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      }
    }
  }
}
